Django>=5.0,<6.0
djangorestframework>=3.15
django-cors-headers
django-prometheus>=2.3,<3.0
psycopg[binary]>=3.1
python-dotenv>=1.0
djangorestframework-simplejwt>=5.0

pytest>=8.0
pytest-django>=4.8
pytest-cov>=4.0
coverage>=7.0
openpyxl>=3.1
reportlab>=4.0
weasyprint>=62.0
docxtpl>=0.16
cryptography>=42.0
signxml>=3.2
requests>=2.31
lxml>=5.0
